body {
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: top -500px left -450px, bottom -2000px right -300px;
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    width: 1440px;
}

.central-container {
    position: absolute;
    top: 20%;
    left: 40%;
    right: 40%;
    display: block;
    width: 350px;
}

.card-body h1 {
    font-weight: 400;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

.card-body strong {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.card-body p {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.profile-picture {
    margin-top: 85px;
}

.profile-stats {
    margin-top: 30px;
    border-top: 1px solid hsl(0, 0%, 89%);
    width: 100%;
}

.profile-stats h1 {
    margin-top: 25px;
    margin-bottom: 0;
}

.profile-stats p {
    font-size: 11px;
}
.profile-stats .stat {
    display: inline-block;
    text-align: center;
    width: 27%;
}

.card-body {
    background-image: url("images/bg-pattern-card.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    height: 400px;
}

.card-body .profile-picture {
    border-radius: 50%;
    border: 5px solid white;
}

